  body {
    background-color: white;
    color: black;
  }

  /* Buttons */
  #startQuizBtn {
    padding: 10px;
    margin: 24px;
    cursor: pointer;
    font-size: 24px;
    background-color: darkblue;
    color: white;
    border-radius: 1rem;
  }

  #startQuizBtn:active {
    background-color: lightblue;
  }

  #formSubmit{
    background-color: darkblue;
    color: white;
    border-radius: 1rem;
  }

  .highScoresContainer button {
    background-color: darkblue;
    color: white;
    border-radius: 1rem;
  }

  #reply1,
  #reply2,
  #reply3,
  #reply4 {
    display: block;
    color: white;
    background-color: darkblue;
    padding: 10px;
    font-size: 24px;
    border-radius: 1rem;
    margin-bottom: .5rem;
  }

  #viewHighScores {
    border-radius: 0;
    color:red;
    border:0;
    background-color: white;
  }

  /* Header aesthetics */
  header {
    display: flex;
    flex-wrap: wrap;
    background: white;
    color: black;
    justify-content: space-between;
  }

  header p {
    margin: 0;
  }

  /* Different "screens": main screen, question and answer screen, quiz complete screen,
    high scores screen. This provides the visibiilty of the screens in addition to their style */
  .startContainer {
    background-color: white;
    color: black;
    text-align: center;
  }

  .questionContainer {
    display: block;
  }

  .questionContainer h2 {
    background: white;
    color: black;
    font-size: 2rem;
  }

  .allDoneContainer {
    display: inline;
  }

  .allDoneContainer h2 {
    background: white;
    color: black;
    font-size: 2rem;
  }

  .highScoresContainer {
    display: inline;
  }

  .highScoresContainer h2 {
    background: white;
    color: black;
    font-size: 2rem;
  }

  